body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

input {
  display: block;
}

button {
  display: block;
  margin-left: 15px;
}
h1,
p {
  text-align: center;
}

.usuárioinfo {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 10px 290px;
  padding-bottom: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

fieldset {
  border: none;
}

img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

* {
  font-size: 50px;
}

body {
  background-image: linear-gradient(to left bottom, #fb0505, #bf0024, #800627, #41101d, #000000);
}
