body {
  background-color: black;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

input {
  display: block;
}

button {
  display: block;
  margin-left: 15px;
}
h1,
p {
  text-align: center;
}

.usuárioinfo {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 10px 290px;
  padding-bottom: 2em;
  margin-left: 500px;
  margin-right: auto;
}

fieldset {
  border: none;
}
